
    <section id="landing-page">
         <div class="landing-page-content">
            <h4>welcome to Blaq store</h4>
            <h2>Get Value for your money</h2>
            <h1>ON all our products & services</h1>
            <p>save more with coupons & up to 70% off!</p>
            <button><a href="/product/get">shop now</a></button>
         </div>
    </section>

    <section id="features" class="section-mg section-pd">
        <div class="feature-boxes-wrapper">
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
        </div>      
    </section>

    <section id="products" class="section-mg section-pd">
          <div class="products-title">
            <h1>Featured Products</h1>
            <p>collections of New modern designs</p>
          </div>
          <div class="product-container">
                {{#each products}}
                <div class="product">
                    <img src="{{image}}" alt="">
                    <div class="product-desc">
                        <span>Adidas</span>
                        <h5>{{name}}</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>   
                        <h4 class="price">&#8358;{{price}}</h4>
                    </div>
                    <a href="/product/{{_id}}/show"><i class="fal fa-shopping-cart"></i></a>
                </div>
                {{/each}}
          </div>
          <div id="pagination-container" class="section-mg section-pd">
                {{#if previous}}
                    <button class="normal"><a href="/home?page={{previous}}">previous page</a></button>
                {{/if}}

                {{#each pages}}
                <span><a href="/home?page={{pageNumber}}"><strong>{{pageNumber}}</strong></a></span>
                {{/each}}
                
                {{#if next}}
                    <button class="normal"><a href="/home?page={{next}}">next page</a></button>
                {{/if}}
        </div>
    </section>

    <section id="banner" class="section-mg section-pd">
        <h4>repair services</h4>
        <h2>up to <span>70% off</span>- all t-shirts & caps</h2>
        <button class="button normal"><a href="#">explore more</a></button>
    </section>

    <section id="products" class="section-mg section-pd">
        <div class="products-title">
          <h1>new arival</h1>
          <p>collections of New modern designs</p>
        </div>
        <div class="product-container">
             {{#each newArivals}}
              <div class="product">
                  <img src="{{image}}" alt="">
                  <div class="product-desc">
                      <span>Adidas</span>
                      <h5>{{name}}</h5>
                      <div class="star">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>   
                      <h4 class="price">&#8358; {{price}}</h4>
                  </div>
                  <a href="/product/{{_id}}/show"><i class="fal fa-shopping-cart"></i></a>
             </div>
            {{/each}}
        </div>  
        <div id="pagination-container" class="section-mg section-pd">
                {{#if previous}}
                    <button class="normal"><a href="/home?page={{previous}}">previous page</a></button>
                {{/if}}

                {{#each pages}}
                <span><a href="/home?page={{pageNumber}}"><strong>{{pageNumber}}</strong></a></span>
                {{/each}}
                
                {{#if next}}
                    <button class="normal"><a href="/home?page={{next}}">next page</a></button>
                {{/if}}
        </div>
    </section>

    <section id="small-banners" class="section-mg section-pd" >
        <div class="banner-box-left">
            <h4>latest deal</h4>
            <h2>buy one get one free</h2>
            <span>this amazing offer is just for one month period</span>
            <button class="button normal"><a href="#">learn more</a></button>
        </div>
        <div class="banner-box-right">
            <h4>summer collection</h4>
            <h2>upcomming season</h2>
            <span>this amazing offer is just for one month period</span>
            <button class="button normal"><a href="#">collection</a></button>
        </div>
    </section>

    <section id="small-banners-two" class="section-pd section-mg">
        <div class="banner-box">
            <h2>season sale</h2>
            <h3>winter collection -50% off</h3>
        </div>
        <div class="banner-box box-2">
            <h2>season sale</h2>
            <h3>winter collection -50% off</h3>
        </div>
        <div class="banner-box box-3">
            <h2>season sale</h2>
            <h3>winter collection -50% off</h3>
        </div>
    </section>

    <section id="news-banner" class="section-pd section-mg">
        <div class="news-text-content">
            <h4>sign up to get updated on new products and discounts</h4>
            <p>get E-mail updates about our latest shops and <span>special offer</span></p>
        </div>
        <div class="news-input-form">
            <input type="email" name="email" id="email" placeholder="enter your email">
            <button type="submit" class="">sign up</button>
        </div>
    </section>
